# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea/
.vscode/

# Env
.env
.env.*

# Lockfiles backups
package-lock.json.*
.aider*

curl_to_http.sh
